<!DOCTYPE html>
<html>
<head>
	<title>Twitter Search Application</title>
	<link rel="stylesheet" href="style/style.css" />
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">

		</div>
		<h1>Data Engineering II - Final Project</h1>
		<h2>Trump Tweet Similarity Program</h2>


	</div>
	</header>

	<div class="flashes">

		<p> Enter your Text here :</p> <input type = "text" name= "txt" /> <br>
		<input type="hidden" name="form_type" value="submit_txt"/>
		<input class="submit" type = "submit" value="Submit">


	{% with messages = get_flashed_messages() %}
	 {% if messages %}
	<table class="tweet" border="1" cellpadding="10" cellspacing="1" width="100%">
	   <tr>
	      <th width="20%">ID</th>
	      <th width="60%">TWEET</th>
	      <th width="20%">SCORE</th>
	   </tr>
	 {% endif %}
	 {%for i in range(0,messages|length,3)%}
	   <tr>
	      {%for n in range(3)%}
	      <td>{{ messages[i+n]}}</td>
	      {% endfor %}

	   </tr>
	 {% endfor %}
	{% endwith %}




	</table>
	</div>

</body>
</html>
