body{
	font:15px/1.5 Arial, Helvetica,sans-serif;
	padding: 0px;
	background-color:#f4f3f3;
}

.container{
	width:100%;
	margin: auto;
	overflow: hidden;
}

header{
	background:#03A9F4;#35434a;
	border-bottom:#448AFF 3px solid;
	height:120px;
	width:100%;
	padding-top:30px;

}

.main-header{
			text-align:center;
			background-color: blue;
			height:100px;
			width:100%;
			margin:0px;
		}
#brandname{
	float:left;
	font-size:30px;
	color: #fff;
	margin: 10px;
}

header h1{
	text-align:center;
	color:#fff;

}

header h2{
	text-align:center;
	color:#fff;

}

textarea {

	display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
 	text-align:center;

}

input{

	display: block;
    margin-left: auto;
    margin-right: auto;
		border-radius: 5px;

}

.submit{
	cursor:pointer;
	background:#03A9F4;#35434a;
	color:#fff;
	padding: 12px 18px;
}

.submit:active {
	color:black;
  background-color: white;
}

.btn-info {background-color: #2196F3;
	height:40px;
	width:100px;}
.btn-info:hover {background: #0b7dda;}


.results{
	border-radius: 15px 50px;
    background: #345fe4;
    padding: 20px;
    width: 200px;
    height: 150px;
}

table {
  border-collapse: collapse;
  width: 100%;

}

th, td {
  text-align: left;
  padding: 8px;

}

tr:nth-child(even){background-color: white}

th {
  background-color: #03A9F4;#35434a;
  color: white;
}
